In [6]:
import pandas as pd
from pathlib import Path
import json

In [48]:
data_path = Path("data/asv.json")
print(data_path
      )

data/asv.json

In [49]:
with open(data_path) as f:
    data = json.load(f)

# Flatten the data
df = pd.json_normalize(data)

In [50]:
df = df["verses"]
df

0    [{'book_name': 'Genesis', 'book': 1, 'chapter'...
Name: verses, dtype: object

In [51]:
df = pd.json_normalize(df)
df

,0,1,2,3,4,5,6,7,8,9,...,31092,31093,31094,31095,31096,31097,31098,31099,31100,31101
0,"{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...","{'book_name': 'Genesis', 'book': 1, 'chapter':...",...,"{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt...","{'book_name': 'Revelation', 'book': 66, 'chapt..."

In [58]:
df[0]

0    {'book_name': 'Genesis', 'book': 1, 'chapter':...
Name: 0, dtype: object