# Malicious Event Detection using Decision Tree and Context-Based

Use KDD Cup 1999 computer network intrusion detection dataset. 
The goal of this notebook is to distinguish the good and bad network connections.

### About the dataset
The data sources are primarily sourced from the 1998 DARPA Intrusion Detection Evaluation Program by MIT Lincoln Labs. 
The Dataset conntains a variety of network events that have been simulated in the military network environment. 
The data is a TCP dump that has been accumulatedfrom the local network of an Air Force environment.

In [1]:
from time import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import cross_val_score

#### Implement the isolation forest, use the `sklearn.ensemble` package:

In [2]:
from sklearn.ensemble import IsolationForest

#### Measure the performance, use AUC and ROC

In [4]:
from sklearn.metrics import roc_curve, auc
from sklearn.datasets import fetch_kddcup99
%matplotlib inline

#### Try to fetch the kdd cup 1999

In [ ]:
dataset = fetch_kddcup99(subset=None, shuffle=True, percent10=True)

### Try alternative: Download data from KAGGLE

In [11]:
from pathlib import Path

path_dir = Path().resolve()
datasets = path_dir / "datasets"

training_data = datasets / "Train_data.csv"
test_data = datasets / "Test_data.csv"

df_train = pd.read_csv(training_data)
df_test = pd.read_csv(test_data)

df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25192 entries, 0 to 25191
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     25192 non-null  int64
 1   protocol_type                25192 non-null  object
 2   service                      25192 non-null  object
 3   flag                         25192 non-null  object
 4   src_bytes                    25192 non-null  int64
 5   dst_bytes                    25192 non-null  int64
 6   land                         25192 non-null  int64
 7   wrong_fragment               25192 non-null  int64
 8   urgent                       25192 non-null  int64
 9   hot                          25192 non-null  int64
 10  num_failed_logins            25192 non-null  int64
 11  logged_in                    25192 non-null  int64
 12  num_compromised              25192 non-null  int64
 13  root_shell                   25192 non-null  int64
 14  su_attempted                 25192 non-null  int64
 15  num_root                     25192 non-null  int64
 16  num_file_creations           25192 non-null  int64
 17  num_shells                   25192 non-null  int64
 18  num_access_files             25192 non-null  int64
 19  num_outbound_cmds            25192 non-null  int64
 20  is_host_login                25192 non-null  int64
 21  is_guest_login               25192 non-null  int64
 22  count                        25192 non-null  int64
 23  srv_count                    25192 non-null  int64
 24  serror_rate                  25192 non-null  float64
 25  srv_serror_rate              25192 non-null  float64
 26  rerror_rate                  25192 non-null  float64
 27  srv_rerror_rate              25192 non-null  float64
 28  same_srv_rate                25192 non-null  float64
 29  diff_srv_rate                25192 non-null  float64
 30  srv_diff_host_rate           25192 non-null  float64
 31  dst_host_count               25192 non-null  int64
 32  dst_host_srv_count           25192 non-null  int64
 33  dst_host_same_srv_rate       25192 non-null  float64
 34  dst_host_diff_srv_rate       25192 non-null  float64
 35  dst_host_same_src_port_rate  25192 non-null  float64
 36  dst_host_srv_diff_host_rate  25192 non-null  float64
 37  dst_host_serror_rate         25192 non-null  float64
 38  dst_host_srv_serror_rate     25192 non-null  float64
 39  dst_host_rerror_rate         25192 non-null  float64
 40  dst_host_srv_rerror_rate     25192 non-null  float64
 41  class                        25192 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 8.1+ MB

In [16]:
X =  df_train.drop(columns=['class'])
y = df_train.loc[:,df_train.columns == 'class']
y

         class
0       normal
1       normal
2      anomaly
3       normal
4       normal
...        ...
25187  anomaly
25188  anomaly
25189  anomaly
25190  anomaly
25191  anomaly

[25192 rows x 1 columns]

In [19]:
object_cols = X.select_dtypes(include='object').columns
X = pd.get_dummies(X, columns=object_cols, drop_first=True)
X.head()

   duration  src_bytes  dst_bytes  land  ...  flag_S2  flag_S3  flag_SF  flag_SH
0         0        491          0     0  ...    False    False     True    False
1         0        146          0     0  ...    False    False     True    False
2         0          0          0     0  ...    False    False    False    False
3         0        232       8153     0  ...    False    False     True    False
4         0        199        420     0  ...    False    False     True    False

[5 rows x 115 columns]